@font-face {
	font-family: "BebasNeue";
	src: url("BebasNeue-Regular.ttf") format("truetype"),
		/* url("BebasNeue-Regular.woff") format("woff"), */
			url("BebasNeue-Regular.eot?iefix") format("embedded-opentype");
}

@font-face {
	font-family: "Birthstone";
	src: url("Birthstone-Regular.ttf") format("truetype"),
		/* url("Birthstone-Regular.woff") format("woff"), */
			url("Birthstone-Regular.eot?iefix") format("embedded-opentype");
}
